.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: white;
    font-weight: lighter;
    content: ">";
}
.banner-productos {
    background-image: url(../../img/4074969.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 3rem 4rem 2rem !important;
    margin-top: 6.8rem;
    @media (min-width: 992px) {
        padding: 3rem 10rem 2rem !important;
    }

    h2 {
        color: white;
    }

    .breadcrumb {
        background-color: transparent;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        li {
            color: white !important;
            font-weight: bold;
            a {
                color: white;
                font-weight: lighter;
            }
        }
        
    }
}
.header-cards {

    h2 {
        color:  #4472CA;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        @media (min-width:992px) {
            font-size: 3rem;
        }
    }
    p {
        color: grey;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 1.5rem;
    }
}
