<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDICARE</title>
    <link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
        <link rel="shortcut icon" href="../img/favicon.png">
		<link rel="stylesheet" href="../assets/css/style.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
			integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
			crossorigin="anonymous"
		/>
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
			integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
			crossorigin="anonymous"
		></script>
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
			integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
			crossorigin="anonymous"
		></script>
        <script src="../JS/lang.js"></script>
</head>
<body class="container-fluid no-gutters">
    <header class="row no-gutters">
        <nav class="col-12 navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">
            <a class="navbar-brand" href="#">
                <img class="logo" src="../img/logo.png" alt="Logo">
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a 
                            class="nav-link" 
                            href="../index.html"
                            data-section="navbar" 
                            data-value="home"
                        >
                            Inicio 
                        <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-section="navbar" 
                            data-value="plans"
                        >
                            Planes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a 
                                class="dropdown-item" 
                                href="./medicare.html"
                                data-section="navbar" 
                                data-value="medicare"
                            >
                                Opciones de Medicare
                            </a>
                            <a 
                                class="dropdown-item" 
                                href="./segurodesalud.html"
                                data-section="navbar" 
                                data-value="aca"
                            >
                                ACA(Obamacare)
                            </a>
                            <a 
                                class="dropdown-item" 
                                href="./segurodental.html"
                                data-section="navbar" 
                                data-value="other"
                            >
                                Otras opciones de salud
                            </a>
                            <a 
                                class="dropdown-item" 
                                href="./segurodevida.html"
                                data-section="navbar" 
                                data-value="life"
                            >
                                Seguro de vida/Opciones funerales
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a 
                            class="nav-link" 
                            href="./aboutus.html"
                            data-section="navbar" 
                            data-value="about"
                        >
                            Sobre Nosotros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a 
                            class="nav-link" 
                            href="./productos.html"
                            data-section="navbar" 
                            data-value="products"
                        >
                            Productos
                        </a>
                    </li>
                    <li 
                        class="nav-item"
                        
                    >
                        <a 
                            class="nav-link" 
                            href="./contacto.html"
                            data-section="navbar" 
                            data-value="contact"
                        >
                            Contacto
                        </a>
                    </li>
                </ul>
                <select id="lang" class="form-control form-control-sm rounded-pill nav-language ml-2">
                    <option data-language="es" value="es">ES</option>
                    <option data-language="en" value="en">EN</option>
                </select>
            </div>
        </nav>
        <section class="banner-breadcrumbs col-12">
            <h2>Opciones de Medicare</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
                  <li class="breadcrumb-item"><a href="./productos.html">Productos</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Opciones Medicare</li>
                </ol>
              </nav>
        </section>
    </header>
    <main class="row no-gutters">
        <div class="col-12 picture-container">
            <img class="img-fluid" src="../img/grandparents-using-laptop.jpg" alt="grandparents using laptop">
        </div>
        <div class="col-12 medicare-content">
            <h1 class="display-4">Medicare Advantage</h1>
            <p class="mt-3 text-justify lead text-muted">
                A veces llamado Medicare Parte C o MA, es un tipo de plan de seguro médico en los Estados Unidos que brinda beneficios de Medicare a través de una aseguradora de salud del sector privado. Medicare Advantage, combina la parte A (Hospital), parte B (Médica) de su medicare Original y adiciona la parte C  (medicamentos recetados) en un solo plan. Usted estará protegido al 100% y sin ningún costo adicional. 
                Muchos compañías suman otros beneficios, como cobertura dental, visión, productos sin receta médica, membresías en gimnasios, transportación, dispositivos auditivos, entre otros.
                <br>
                <br>
                Los planes de Medicare Advantage tienen máximos de bolsillo, con lo cual sus finanzas estarán protegidas.                
            </p>
            <br>
            <h1 class="display-4">PDP: Planes de prescripción médica</h1>
            <p class="text-justify lead text-muted">
Medicare Original (Partes A y B) no brinda cobertura de medicamentos recetados. Son planes independientes que puede comprar a través de compañías de seguros privadas. <br> <br> Los PDP brindan cobertura para medicamentos recetados y también pueden cubrir algunas vacunas.
Es importante destacar que debe adquirir un plan de prescripción medica cuando es elegible, de lo contrario, deberá pagar una penalidad por el tiempo que estuvo sin cobertura.

            </p>
        </div>
        <div class="col-12 medicare-content">
            <h1 class="display-4">Suplementos de Medicare</h1>
            <p class="mt-3 text-justify lead text-muted">
                Medigap es un Seguro Suplementario de Medicare que ayuda a llenar "brechas" en Medicare original y es vendido por empresas privadas. Medicare Original paga gran parte, pero no la totalidad, del costo de los servicios y suministros de cuidado de salud cubiertos. Una póliza de Seguro Suplementario de Medicare (Medigap) puede ayudar a pagar algunos de los costos de cuidado de salud, como: copagos, coaseguros, deducibles.
            </p>
        </div>
        <div class="col-12 medicare-content mb-3">
            <h1 class="display-4">Podemos ayudarte!</h1>
            <p class="mt-3 text-justify lead text-muted">
                    Estamos aquí para explicarte las opciones disponibles en el mercado y responder tus inquietudes con la finalidad de ayudarte a seleccionar la opción que se ajuste a tus necesidades. Solicita una cita con nuestros agentes, confiables y muy bien preparados. Te guiamos en todo el proceso, nuestra asesoría es personalizada!
            </p>
        </div>
        <div class="col-12 pr-5 pl-5  pb-5">
            <div class="row no-gutters contact-container">
                <div class="col-sm-12 col-md-4 col-lg-4 mt-5 text-center">
                    <a href="tel:+1(281)780-7070"><i class="fas fa-phone-volume fa-5x"></i></a>
                    <br>
                    <h4 class="mt-3"><a href="tel:+1(281)780-7070">+1(281)780-7070</a></h4>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 mt-5 text-center">
                    <a href="mailto:mary@insurancemech.com"><i class="far fa-envelope fa-5x"></i></a>
                    <br>
                    <h4 class="mt-3"><a  href="mailto:mary@insurancemech.com">Cotizar</a></h4>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 mt-5 text-center">
                    <a target="_blank" href="https://wa.link/hldp9z"><i class="far fa-comments fa-5x"></i></a>
                    <br>
                    <h4 class="mt-3"><a target="_blank" href="https://wa.link/hldp9z">Whatsapp</a></h4>
                </div>
            </div>
        </div>
    </main>
    <section class="row no-gutters pb-4">
        <div class="banner-family col-xs-12 col-sm-12 col-md-6 col-lg-6  d-flex flex-column justify-content-center align-items-center">
            <h3>Estas en buenas manos.</h3>
            <h2>Te protegemos en 
               <br>
                cada paso que des.
            </h2>
        </div>
        <div class="banner-family-picture col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../img/family.png" alt="family">
        </div>
    </section>
    <section id="faq" class="row no-gutters faq_container text-center">
        <div class="col-12">
            <h2
                data-section="faq"
                data-value="title"
            >
                Preguntas frecuentes
            </h2>
        </div>
        <div class="col-12">
            <div class="accordion" id="accordionExample">
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingOne">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne"
                                data-section="faq"
                                data-value="item-one-question"
                            >
                                ¿Cómo funciona Medicare Original?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div 
                            class="card-body  text-justify"
                            data-section="faq"
                            data-value="item-one-answer"
                        >
                            Medicare Original es un programa de seguro médico que brinda beneficios a ciudadanos estadounidenses y
                            residentes legales permanentes de 65 años o más, o que tienen una discapacidad o enfermedad que
                            califique. Medicare Parte A es un seguro hospitalario, La Parte B de Medicare es un seguro médico y la
                            Parte D de Medicare es la cobertura de medicamentos recetados.
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingTwo">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo"
                                data-section="faq"
                                data-value="item-two-question"
                            >
                                ¿Debo obtener una cobertura suplementaria?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div 
                            class="card-body  text-justify"
                            data-section="faq"
                            data-value="item-two-answer"
                        >
                            Si no quiere ser responsable de su deducible de la parte B, el 20% del coaseguro y otros gastos médicos,
                            el seguro complementario puede ser adecuado para usted. Contáctenos para más información.
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingThree">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree"
                                data-section="faq"
                                data-value="item-three-question"
                            >
                            ¿Puedo cambiar mi cobertura en cualquier momento?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div 
                            class="card-body  text-justify"
                            data-section="faq"
                            data-value="item-three-answer"
                        >
                            
                          Cada año, hay un período de inscripción abierta para Medicare Advantage y Medicare Parte D. Después o antes de la                               inscripción abierta, puede hacer un cambio si tiene un "Período de elección especial" de SEP.
                          <br>
                          También hay un período de inscripción abierta adicional para los participantes de la Parte B de Medicare que no se                               inscribieron cuando fueron elegibles por primera vez. Esta ventana se extiende desde el 1 de enero hasta el 31 de marzo,                               con cobertura a partir del 1 de julio. Después o antes de la inscripción abierta, puede inscribirse si califica para un                               SEP (Período de elección especial). Si está buscando más opciones o desea cambiar su cobertura, háganoslo saber.
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingFour">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseFour"
                                aria-expanded="false"
                                aria-controls="collapseFour"
                                data-section="faq"
                                data-value="item-four-question"
                            >
                            ¿Cómo califico para el programa de ayuda adicional de Medicare o Medicaid?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseFour"
                            aria-expanded="true"
                            aria-controls="collapseFour"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div 
                            class="card-body  text-justify"
                            data-section="faq"
                            data-value="item-four-answer"
                        >
                            Si tiene ingresos más bajos y tiene dificultades para pagar su Parte B, deducibles, coseguro o sus recetas, el Programa de Ayuda Adicional o el Programa de Ahorro de Medicare pueden ayudarlo a que sus costos de salud sean más asequibles de lo que serían con el plan Medicare y la Parte D de Medicare solamente.
                            <br>
                            Sus ingresos y recursos determinan el nivel de ayuda que recibe. Generalmente, los afiliados elegibles para Ayuda adicional en 2018 no pagarán más de $ 3.35 por recetas de medicamentos genéricos y $ 8.35 por medicamentos de marca. La elegibilidad se limita a los ingresos anuales. Si cree que califica para cualquiera de los programas, podemos ayudarlo.
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingFive">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseFive"
                                aria-expanded="false"
                                aria-controls="collapseFive"
                                data-section="faq"
                                data-value="item-five-question"
                            >
                            ¿Que se entiende como seguros médicos mayores y cuando puedo inscribirme?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseFive"
                            aria-expanded="true"
                            aria-controls="collapseFive"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div 
                            class="card-body text-justify"
                            data-section="faq"
                            data-value="item-five-answer"
                        >
                            Los seguros médicos mayores no toman en cuenta enfermedades preexistentes y no tienen período de espera. En Estados Unidos existen dos seguros médicos mayores: Medicare y ACA (Afordable Care Act), conocido como Obamacare. <br>
Existen períodos anuales de inscripción establecidos, generalmente entre el 15 de Octubre y el 15 de Diciembre. Adicionalmente, existen períodos especiales de inscripción en cualquier fecha del año, si reúne los requisitos para los eventos calificados establecidos.

                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingSix">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseSix"
                                aria-expanded="false"
                                aria-controls="collapseSix"
                                data-section="faq"
                                data-value="item-six-question"
                            >
                            ¿Medicare es lo mismo que Medicaid?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseSix"
                            aria-expanded="true"
                            aria-controls="collapseSix"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div 
                            class="card-body text-justify"
                            data-section="faq"
                            data-value="item-six-answer"
                        >
                            No. <b>Medicare</b> es el seguro de salud que provee beneficios a ciudadanos americanos y residentes legales permanentes de 65 años o más, personas que tengan una discapacidad avalada por el seguro social. <br>
                            La parte A es el seguro de hospitalización. <br>
                            La parte B es el seguro médico. <br>
                            La parte D es el plan de medicinas. <br>
                             <br>
                           <b>Medicaid</b>  es la ayuda que nos da el gobierno para pagar primas, deducibles y copagos de nuestro seguro de salud. Su ingreso y recursos determinan el nivel de ayuda que le será otorgado.  
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingSeven">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseSeven"
                                aria-expanded="false"
                                aria-controls="collapseSeven"
                                data-section="faq"
                                data-value="item-seven-question"
                            >
                            ¿Cuál es la diferencia entre un “Seguro para gastos finales” y un “Preneed”?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseSeven"
                            aria-expanded="true"
                            aria-controls="collapseSeven"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div 
                            class="card-body text-justify"
                            data-section="faq"
                            data-value="item-seven-answer"
                        >
                          <b>Seguro para gastos finales o gastos funerales:</b> usted asegura un monto destinado para sus gastos  y paga primas mensuales bajas por un determinado periodo de tiempo,  o por la vida entera. <br>
                            <b>Preneed:</b>  es una póliza de seguros atada a un contrato funeral. Usted elige productos y servicios cuyo precio queda garantizado y congelado de por vida, pagando primas mensuales, generalmente hasta por un periodo de 10 años.
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingEight">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseEight"
                                aria-expanded="false"
                                aria-controls="collapseEight"
                                data-section="faq"
                                data-value="item-eight-question"
                            >
                            ¿Tengo 60 años, no reúno los requisitos para Medicare, el  Obama Care (ACA) me resulta costoso debido a mis ingresos, existe alguna  opción de salud disponible para mi?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseEight"
                            aria-expanded="true"
                            aria-controls="collapseEight"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                        <div 
                            class="card-body text-justify"
                            data-section="faq"
                            data-value="item-eight-answer"
                        >
                            Claro que si! Actualmente existen opciones para todos: planes de indemnización, pólizas dentales, visión, pólizas accidentales, enfermedades crónicas, cáncer, etc. <br>
                            Busca asesoría profesional y especializada para conocer detalles y seleccionar el producto que se adapte a tus necesidades y presupuesto.                            
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center" id="headingNine">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link btn-block text-left collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseNine"
                                aria-expanded="false"
                                aria-controls="collapseNine"
                                data-section="faq"
                                data-value="item-nine-question"
                            >
                            Me gustaría adquirir una póliza de vida para dejarle algo a mis hijos , sin embargo, aún no me ha llegado el social. ¿Que puedo hacer?
                            </button>
                        </h2>
                        <div
                            class="mr-4"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseNine"
                            aria-expanded="true"
                            aria-controls="collapseNine"
                        >
                            <i class="fas fa-chevron-down white-icon"></i>
                        </div>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                        <div 
                            class="card-body text-justify"
                            data-section="faq"
                            data-value="item-nine-answer"
                        >
                            Si reside en el país por un periodo no menor de 6 meses, con un documento sencillo de identificación (ITIN number) usted puede contratar un seguro de vida.                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row no-gutters call-banner">
        <div class="col-sm-12 col-md-6 col-lg-6 call-banner_title">
            <h3
                data-section="call-banner"
                data-value="title"
            >
                Muchas opciones. Muchas maneras de cuidarte.
            </h3> 
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 call-banner_link">
            <h4
                data-section="call-banner"
                data-value="subtitle"
            >
                <i class="fas fa-phone-volume"></i>
                Llama al 
                <a href="tel:+1(281)780-7070">+1(281)780-7070</a>
            </h4>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-column">
                    <img class="golden-logo" src="../img/gpca_logo_horizontal.png"   alt="">
                </div>
                <div class="col-md-3 footer-column">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <span 
                                class="footer-title"
                                data-section="footer"
                                data-value="plans"
                            >
                                PLANES
                            </span>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                data-section="footer"
                                data-value="medicare"
                                href="./medicare.html"
                            >
                                Opciones de Medicare
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                data-section="footer"
                                data-value="aca"
                                href="./segurodesalud.html"
                            >
                                ACA(Obamacare)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                data-section="footer"
                                data-value="dental"
                                href="./segurodental.html"
                            >
                                Dental
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                data-section="footer"
                                data-value="vision"
                                href="./segurodental.html"
                            >
                                Visión
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                href="./segurodental.html"
                                data-section="footer"
                                data-value="indemnity"
                            >
                                Seguros de indemnización
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                data-section="footer"
                                data-value="critical"
                                href="./segurodental.html"
                            >
                                Enfermedades críticas/cáncer
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                data-section="footer"
                                data-value="incidental"
                                href="./segurodental.html"
                            >
                                Pólizas accidentales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                data-section="footer"
                                data-value="life"
                                href="./segurodevida.html"
                            >
                                Seguro de vida/Opciones funerales
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 footer-column">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <span class="footer-title">MECH</span>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                data-section="footer"
                                data-value="about"
                                href="./aboutus.html"
                            >
                                Sobre Nosotros
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                data-section="footer"
                                data-value="products"
                                href="./productos.html"
                            >
                                Productos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                data-section="footer"
                                data-value="faq"
                                href="#faq"
                            >
                                Preguntas frecuentes
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 footer-column">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <span 
                                class="footer-title"
                                data-section="footer"
                                data-value="support"
                            >
                                Contacto & Soporte
                            </span>
                        </li>
                        <li class="nav-item">
                            <a href="tel:+1(281)780-7070" target="_blank" class="nav-link"><i class="fas fa-phone"></i> +1(281)780-7070</a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link" 
                                target="_blank" 
                                href="./contacto.html"
                                data-section="footer"
                                data-value="contact"
                            >
                                <i class="fas fa-envelope"></i> Contact us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://goo.gl/maps/1FJzT4pcvzaUdMVv7"><i class="fas fa-map-pin"></i> 6666 Harwin Dr, Suite 560, <br>Houston, TX, 77036</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="text-center mt-4 mb-4"><i class="fas fa-ellipsis-h"></i></div>

            <div class="row text-center">
                <div class="col-md-4 box">
                    <span class="copyright quick-links"
                        >Copyright &copy; Insurance MECH.
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                    </span>
                </div>
                <div class="col-md-4 box">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://wa.link/hldp9z">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.instagram.com/insurancemech/?hl=es">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com/marieucolina">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.linkedin.com/in/maria-eugenia-colina-697b01214/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 box">
                    <ul class="list-inline quick-links">
                        <li class="list-inline-item">
                            <a href="./contacto.html">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="./contacto.html">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
		<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
    ></script>
    <!-- Popper.JS -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"
    ></script>
    <script src="../JS/cards.js"></script>
</body>
</html>